##############################
####### Rust Prodject ########
##############################
/target
Cargo.lock

##############################
########## Secrets ###########
##############################
/secret

##############################
####### DevOps Python ########
##############################
/venv
